body {
    font-family: "Helvetica Neue", "Helvetica", "sans-serif";
    font-size: 100%;
    margin: 0 auto;
    width: 900px;
}

header {
    background-color: white;
}

nav {
    background-color: #ECECEA;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-top: 10px;
    margin-top: -25px;
    margin-bottom: -25px;
}

li {
    font-family: "Helvetica Neue", "Helvetica", "sans-serif";
    list-style-type: none;
}

.nav-links:link {
    color: black;
    font-size: 100%;
    text-decoration: none;
}

.nav-links:visited {
    font-family: "Helvetica Neue", "Helvetica", "sans-serif";
    color: slategray;
    text-decoration: none;
}

article {
    background-color: white;
    padding-bottom: 20px;
    text-align: center;
}

.monogram {
    margin-top: 5em;
    margin-left: 310px;
    margin-bottom: 3em;
}
p {
    color: black
    font-size: .937em;
    padding: 20px;
    padding-left: 40px;
    
}

footer {
    text-align: center;
    margin-top:75px;
    margin-left: -25px;
}
h1 {
    background-color: transparent;
    color: black;
    font-family: "Helvetica Neue", "Helvetica", "sans-serif";
    font-size:2em;
    text-align: center;
    margin-bottom: 2em;

}

h3 {
    background: black;
    border: 2px;
    border-style: solid;
    display: block;
    margin-top: 40px;
    margin-right: 400px;
    margin-left: 400px;
    list-style-type: none;
    padding: 10px;
    color: white;
    text-align:center;
}